# Ignore all large raw dataset files
*.json
*.zip

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
.env
.venv/
venv/

# Ignore Jupyter notebook checkpoints (if using any)
.ipynb_checkpoints/

# Ignore OS or editor-specific files
.DS_Store
.vscode/
